name: SteamOS 3.7 Dependencies bundle
on:
  push:
    tags: ['v*']
  workflow_dispatch:

jobs:
  bundle:
    runs-on: ubuntu-latest
    container: archlinux:latest
    steps:
      - uses: actions/checkout@v4
      
      - name: configure SteamOS 3.7 repos
        run: |
          rm -rf /etc/pacman.d/*
          
          cat <<EOF > /etc/pacman.conf
          [options]
          Architecture = auto
          SigLevel = Never
          
          [jupiter-3.7]
          Server = https://steamdeck-packages.steamos.cloud/archlinux-mirror/jupiter-3.7/os/x86_64/
          
          [holo-3.7]
          Server = https://steamdeck-packages.steamos.cloud/archlinux-mirror/holo-3.7/os/x86_64/

          [core-3.7]
          Server = https://steamdeck-packages.steamos.cloud/archlinux-mirror/core-3.7/os/x86_64/

          [extra-3.7]
          Server = https://steamdeck-packages.steamos.cloud/archlinux-mirror/extra-3.7/os/x86_64/

          [community-3.7]
          Server = https://steamdeck-packages.steamos.cloud/archlinux-mirror/community-3.7/os/x86_64/

          [multilib-3.7]
          Server = https://steamdeck-packages.steamos.cloud/archlinux-mirror/multilib-3.7/os/x86_64/
          EOF
          
          pacman-key --init
          pacman -Syy

      - name: download all packages
        run: |
          mkdir -p ./packages
          pacman -Swdd --noconfirm --cachedir ./packages \
            sed \
            holo-zram-swap \
            zram-generator \
            lib32-vulkan-radeon \
            vulkan-radeon \
            gamescope \
            linux-neptune-611 \
            pipewire-jack \
            libpipewire \
            bluez-libs \
            mkinitcpio

          BASE_URL="https://github.com/V10lator/linux-charcoal/releases/download/6.11.11-valve27-charcoal-1"
          
          curl -L -o ./packages/linux-charcoal-6.11.11.valve27-1-x86_64.pkg.tar.zst \
            "$BASE_URL/linux-charcoal-6.11.11.valve27-1-x86_64.pkg.tar.zst"
            
          curl -L -o ./packages/linux-charcoal-headers-6.11.11.valve27-1-x86_64.pkg.tar.zst \
            "$BASE_URL/linux-charcoal-headers-6.11.11.valve27-1-x86_64.pkg.tar.zst"
          
          rm -f ./packages/*.db ./packages/*.sig

      - name: create zip
        run: |
          pacman -S --noconfirm zip
          zip -r sdweak.zip . -x "sdweak.zip" ".git/*" ".github/*"

      - name: create release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: sdweak.zip
          body: "Offline bundle"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}